extends includes/layout
block main-content
    header.nav.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="#/") Items Exchange
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="#/items") Search
                    li(ng-show="identity.isAuthenticated()")
                        a(href="#/myads") My Ads
                    li(ng-show="identity.isAuthenticated()")
                        a(href="#/inbox") Inbox
                        
                div(ng-include="'partials/account/login'")

    section
        div(ng-view)

    footer.panel-footer
        p.text-center.text-primary
            | &copy; 
            span
                a(href="https://github.com/TeamDionysus/End-to-end-JS-Apps-Teamwork") 
                    | Team Dionysus 2014