.container
    .row
        .col-md-3
            .thumbnail
                img.avatar(ng-src='{{user.imageUrl}}', alt='avatar')
                h4 Personal information:
                ul.list-group
                    li.list-group-item
                        i.fa.fa-user
                        span.list-group-item-text  {{user.username}}
                    li.list-group-item
                        i.fa.fa-mobile-phone
                        span.list-group-item-text  {{user.phone}}
                    li.list-group-item
                        i.fa.fa-foursquare
                        span.list-group-item-text  {{user.city}}
                    a(href='')
                        li.list-group-item
                            i.fa.fa-envelope
                            span.list-group-item-heading  Send me message
        .col-md-8
            .row
                .col-sm-4.col-lg-4.col-md-4(ng-repeat="item in user.items | orderBy: -item.published")
                    .thumbnail
                        .ratio(style="background-image:url('images/{{ item.imageUrl }}')" ng-if="item.imageUrl")
                        .ratio(style="background-image:url('images/default.jpg')" ng-if="!item.imageUrl")
                        .caption
                            h4.price-tag.pull-right ${{ item.price }}
                            h4.truncate
                                a(href='#/items/{{item._id}}') {{ item.title }}
                            p.truncate {{ item.description }}
                        .ratings
                            p.pull-right 15 reviews
                            p
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star