doctype
html
    head
        title Items Exchange
        link(href="images/favicon.ico" rel="shortcut icon" type="image/x-icon")
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.css")
        link(rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet" href="/css/site.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing+Script:700")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300")
    body(ng-app="app")
        block main-content

        include scripts
        include currentUser
