doctype
html
    head
        title Items Exchange
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
        link(data-require="bootstrap-css@2.3.2" data-semver="2.3.2" rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.css")
        link(rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet" href="/css/site.css")
    body(ng-app="app")
        block main-content

        include scripts
        include currentUser

