.container
    form.form-horizontal(name="createItemForm", enctype="multipart/form-data", action="/api/items", method="post")
        fieldset
            legend Add Offer
            .form-group
                label.col-md-2.control-label(for="title") Title
                .col-md-10
                    input#title.form-control(name="title", type="text", placeholder="Title", required)
            .form-group
                label.col-md-2.control-label(for="description") Description
                .col-md-10
                    input#description.form-control(type="text", placeholder="Description", name="description")
            .form-group
                label.col-md-2.control-label(for="categories") Categories
                .col-md-10
                    select#categories.form-control(ng-model="item.categories" name="categories")
                        option(ng-repeat="category in categories", value="{{category.name}}") {{category.name}}
            .form-group
                label.col-md-2.control-label(for="price") Price
                .col-md-10
                    input#price.form-control(type="text", placeholder="Price", name="price")
            .form-group
                label.col-md-2.control-label(for="image") Image
                .col-md-10
                    input#image.form-control(type="file", name="image", accept="image/*")
            .pull-right
                input.btn.btn-primary(type="submit", ng-disabled="createItemForm.$invalid", value="Add")
                a.btn.btn-primary(href="#/") Cancel