.container
    .row
        .col-md-4
            form.navbar-form(role="search")
            .input-group
                input.form-control(type="text" placeholder="Search" name="q" ng-model="query")
                .input-group-btn
                    button.btn.btn-default(ng-click="findItem(query)")
                        i.glyphicon.glyphicon-search

        .col-md-4
            select.form-control(ng-model="sort")
                option(value=" " ng-selected="'true'") Default
                option(value="title") Title
                option(value="published") Published
        .col-md-2 Sort

        
    br
    table.table
        tr
            th Title
            th Published
        tr(ng-repeat="course in courses | filter: search | orderBy: sort")
            td
                a(href="#/courses/{{ course._id }}") {{ course.title }}
            td {{ course.published | date }}