.container
    .jumbotron
        h1 NodeJS Teamwork
        h2 Best offers in the world
    .row
        .col-md-4
            form.navbar-form(role="search")
            .input-group
                input.form-control(type="text" placeholder="Search" name="q" ng-model="query")
                .input-group-btn
                    button.btn.btn-default(ng-click="findItem(query)")
                        i.glyphicon.glyphicon-search
        .col-md-8.text-right
            a.btn.btn-success.btn-lg(href="#/items/create") Add offer
    br
    .row
        .col-md-6
            .panel.panel-info
                .panel-heading.text-center Featured
                .panel-body(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            .panel.panel-info
                .panel-heading.text-center New
                .panel-body(ng-include="'/partials/main/new-courses'")